.header__wrapper {
    background-color: #003259;
    height: 105px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 16.5rem;
}

.logo {
    margin-left: 10px;
}

.header__title {
    color: #fff;
    font-size: 10pt;
    margin-right: 18px;
    margin-top: 40px;

    span {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-weight: 600;

        img {
            margin-inline: 0.2rem;
        }
    }


}